@font-face {
  font-family: "ClementePDai";
  src: url("/font/ClementePDai/ClementePDai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClementePDar";
  src: url("/font/ClementePDai/ClementePDar-UltraBoldItali.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ClementePDai", sans-serif;
}
